.logo{
    width: 15%;
    
}
header{
    background-color: rgb(34, 34, 30);
}
table {
    border-collapse: separate;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
  td, th {
    border: 1px solid rgb(224, 75, 17);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: center;
  }
  
.titulo{
    border-bottom: 1px solid black;
}

.info-invalida{
  background-color: red;
}

/* Estilos para a classe .box */
.box {
  border: 1px solid #ccc; /* Adiciona uma borda sólida cinza */
  border-radius: 5px; /* Arredonda as bordas */
  padding: 10px; /* Adiciona preenchimento interno */
  margin-bottom: 20px; /* Adiciona margem inferior */
  background-color: #f9f9f9; /* Define a cor de fundo */
  max-width: 400px; /* Define a largura máxima */
  margin: 20px auto 0; /* Centraliza horizontalmente e adiciona margem superior */
  float: left; /* Alinha à esquerda */

}

/* Estilos para o título dentro da classe .box */
.box h2 {
  margin-bottom: 10px; /* Adiciona margem inferior */
}

/* Estilos para o formulário dentro da classe .box */
.box .formulario {
  margin-bottom: 15px; /* Adiciona margem inferior */
}

/* Estilos para as etiquetas dentro da classe .box */
.box label {
  display: block; /* Exibe as etiquetas como blocos */
  margin-bottom: 5px; /* Adiciona margem inferior */
}

/* Estilos para os campos de texto e seleção dentro da classe .box */
.box input[type="text"],
.box select {
  width: calc(100% - 20px); /* Define a largura como 100% menos o padding */
  padding: 6px; /* Adiciona preenchimento interno */
  margin-bottom: 10px; /* Adiciona margem inferior */
  border: 1px solid #ccc; /* Adiciona uma borda sólida cinza */
  border-radius: 3px; /* Arredonda as bordas */
  box-sizing: border-box; /* Garante que o tamanho total inclua a borda e o preenchimento */
  font-size: 14px; /* Tamanho da fonte */
}

/* Estilos para o botão de envio dentro da classe .box */
.box button[type="submit"] {
  background-color: blue; /* Define a cor de fundo como azul */
  color: white; /* Define a cor do texto como branco */
  padding: 8px 16px; /* Adiciona preenchimento interno */
  border: none; /* Remove a borda */
  border-radius: 3px; /* Arredonda as bordas */
  cursor: pointer; /* Altera o cursor para indicar que é clicável */
}

/* Estilos de foco para o botão de envio dentro da classe .box */
.box button[type="submit"]:hover {
  background-color: darkblue; /* Altera a cor de fundo quando o mouse passa por cima */
}

#filtrar-tabela{
  width: 19.5%;
  height: 35px;
  margin-bottom: 10px;
}

.invisivel{
  display:none;
}

